:root {
    --primary-color: #8704BF;
    --secondary-color: #04BFBF;
    --tertiary-color: #270140;
    --quaternary-color: #2E0259;
    --quinary-color: #7503A6;
    --light-color: #f2f2f2;
    --medium-color: #898888;
    --dark-color: #141414;
}

.bg-custom {
    background: var(--quaternary-color);
    background: linear-gradient(90deg, var(--quaternary-color) 0%, var(--quinary-color) 27%, var(--primary-color) 56%, var(--quinary-color) 81%, var(--quaternary-color) 100%);
}

.navbar-brand,
.nav-link {
    color: var(--light-color);
}